* {
    font-family: Arial, Helvetica, sans-serif;
}

.Cajita1 {
    width: 400px;
    height: 500px;
    background-color: #0527FF;
    border-radius: 20px;
    box-shadow: 0px 10px 10px grey;
    text-shadow: 2px;
}

.Cajita1_1 {
    height: 40%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    background-color: #05A3FF;
    position: relative;
}

img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.Circulote {
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform:  translateX(-50%);
}
.eltexto {
    padding: 50px;
}
H1{
    color: aliceblue;
}
h2{
    color:darkgrey;
    display: flex;
    justify-content: space-between;
}
p{
    color: gainsboro;
}
#LINKS{
    display: flex;
    justify-content: space-between;
}